@mixin fontFace($FontName, $FontPathName, $FontFileName, $FontWeight) {
    @font-face {
        font-family: "#{$FontName}";
        font-weight: #{$FontWeight};
        font-style: normal;
        font-display: swap;

        src: url("/fonts/#{$FontPathName}/#{$FontFileName}.eot");
        src:
            url("/fonts/#{$FontPathName}/#{$FontFileName}.woff") format("woff"),
            url("/fonts/#{$FontPathName}/#{$FontFileName}.ttf")
                format("truetype"),
            url("/fonts/#{$FontPathName}/#{$FontFileName}.eot?#iefix")
                format("embedded-opentype");
    }
}

//FontExample
// @include fontFace("FontExample", "FontExample", "FontExample-Regular", 400);
