// fonts
$f-Manrope: var(--var-manrope), Arial, sans-serif;

$sizeTitleH1: 70px;

// colors
$c-primary: #ffffff;
$c-bg: #0e0e10;

// screens
$desktop: 1600px;
$laptop: 1440px;
$tablet: 1024px;
$mobile: 565px;
